body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f5f4;
}
		
	.formContainer{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
		    border-radius: 10px;
}

form input, form textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: horizontal; 
	    border-radius: 5px;
}

.buttonForm {
    display: block;
    background-color: #eb7700;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    /* font-family: "Roboto", sans-serif; */
    border-radius: 10px;
    margin: 0px auto 0px;
}
.buttonForm:hover{
	background-color: #046193;
}
textarea { resize: none; }
		
		input[type="checkbox" i] {
    display: inline-block;
    width: 35px;
}

.buttonRefresh {
margin: 13px 45px 10px 45px;
margin: 7px auto 0px;

}