.container  { 
    margin: 10px;
    background-image: url("../img/comidas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    

}

.button-container {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    top: 50%;
    right: 45%;

    display: block;
    background-color: #eb7700;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    margin: auto;
    justify-self: center;
    align-self: center;
        
    }
.button:hover {
    background-color: #046193; ;
}