.summaryStyle {
    padding: 25px 0px 42px 0px;
    line-height:200%
}

.summaryStyle a {
    color: black;
    text-decoration: none;
    
}

.instructionsRecipe {
    min-height: 161px;
}

.scoreRecipe {
    width: 100%;
}

.ulContainer {
   display: flow-root;
    width: 100%;
   
}